<div class="header">
  <div class="background">
    <div class="headertitle">
      <h1><u>Baby Vaccination</u></h1>
      <p>Protecting Little Lives, One Vaccination at a Time</p>
    </div>
  </div>

  <div class="navbar">
    <div class="links">
      <a routerLink="/home">HOME</a>
      <a routerLink="/record">RECORDS</a>
      <a routerLink="/info">VACCINATION</a>
    </div>
    <button class="button-4" routerLink="/dataentry">Data Entry</button>
  </div>
</div>

<div class="left-side-content">


  <h3>Vaccine Safety and Monitoring</h3>
  <p>Vaccines undergo rigorous testing and monitoring to ensure their safety and efficacy. Vaccine safety is
    continuously monitored through:</p>
  <ul>
    <li>Pre-licensure clinical trials</li>
    <li>Post-licensure surveillance systems</li>
    <li>Adverse event reporting systems</li>
    <li>Vaccine safety research</li>
  </ul>

  <h3>Addressing Vaccine Misconceptions</h3>
  <p>It's important to address common misconceptions about vaccines to make informed decisions. Some common
    misconceptions include:</p>
  <ul>
    <li>Vaccines cause autism (scientifically disproven)</li>
    <li>Natural immunity is superior to vaccine-induced immunity</li>
    <li>Too many vaccines overwhelm the immune system</li>
    <li>Vaccines are not necessary for diseases with low prevalence</li>
  </ul>


</div>



<div>



  <!-- Other form fields for displaying and editing baby details -->

  <div class="register">

    <form class="form-style-8" [formGroup]="vaccinedata">
      <h2>Baby Vaccination Registration</h2>
      <h3>Baby Name: {{ babyName }}</h3>

      <input type="text" name="babyName" formControlName="babyname" placeholder="Baby's Name" required [(ngModel)]="babyName" />
      <select name="vaccineduration" formControlName="duration" required>
        <option value="" disabled selected>Select Vaccine Duration</option>
        <option value="Birth (Bacillus Calmette)">Birth</option>
        <option value="6 weeks (Diptheria, Tetanus and Pertussis (DTP 1))">6 weeks</option>
        <option value="10 weeks (Diptheria, Tetanus and Pertussis (DTP 2))">10 weeks</option>
        <option value="14 weeks (Diptheria, Tetanus and Pertussis (DTP 3))">14 weeks</option>
        <option value="6 months (InfluenzaOPV)">6 months</option>
        <option value="9-12 months (Measles, Mumps, and Rubella Vaccine (MMR 1))">9-12 months</option>
        <option value="12 months (Hepatitis A)">12 months</option>
        <option value="13-15 months (Measles, Mumps, and Rubella Vaccine (MMR 2))">13-15 months</option>
        <option value="16-18 months (Measles, Mumps, and Rubella Vaccine (MMR 2))">16-18 months</option>
        <option value="4-6 years (Tdap)">4-6 years</option>
      </select>

      <select name="dose" formControlName="dose" required>
        <option value="" disabled selected>Select the Dose</option>
        <option value="First Dose">First Dose</option>
        <option value="Second Dose">Second Dose</option>
      </select>

      <textarea name="comment" placeholder="Comments" rows="2" formControlName="comment" required></textarea>

      <button (click)="saveBabyDetails(this.vaccinedata.value)" class="button-5">Save</button>
    </form>

  </div>


</div>