@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@1,700&family=Open+Sans&display=swap');

.background{
    background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url(src/assets/Img/background.jpg);
    background-size: cover;
    width: 100%;
    height: 450px;
    background-position: top;
    margin-bottom: 0;
}

.headertitle{
    float: right;
    margin-top: 120px;
    margin-right: 250px;
    font-family: 'Lora', serif;
    color: whitesmoke;
}

.headertitle h1{
    font-size: 60px;
    margin-bottom: 0;
}

.headertitle p{
    margin: 0;
    padding-left: 35px;
    font-size: 18px;
}

.navbar{
    width: 100%;
    height: 45px;
    /* border: 1px solid black; */
    margin-top: -45px; 
    background-image: linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0.4));
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 0;
}

.links a{
    margin-left: 30px;
    color: whitesmoke;
    font-family: 'Open Sans', sans-serif;
    text-decoration: none;
}

.button-4{
   margin-right: 50px;
}


/* CSS */
.button-4 {
  appearance: none;
  background-color: #FAFBFC;
  border: 1px solid rgba(27, 31, 35, 0.15);
  border-radius: 6px;
  box-shadow: rgba(27, 31, 35, 0.04) 0 1px 0, rgba(255, 255, 255, 0.25) 0 1px 0 inset;
  box-sizing: border-box;
  color: black;
  cursor: pointer;
  display: inline-block;
  /* font-family: -apple-system, system-ui, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji"; */
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  list-style: none;
  padding: 6px 16px;
  position: relative;
  transition: background-color 0.2s cubic-bezier(0.3, 0, 0.5, 1);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: middle;
  white-space: nowrap;
  word-wrap: break-word;
}

.button-4:hover {
  /* background-color: #F3F4F6; */
  background-color: #D6EEEE;
  text-decoration: none;
  color: #24292E;
  transition-duration: 0.1s;
}

.button-4:disabled {
  background-color: #FAFBFC;
  
  border-color: rgba(27, 31, 35, 0.15);
  border: 1px solid black;
  cursor: default;
}

.button-4:active {
  background-color: #EDEFF2;
  box-shadow: rgba(225, 228, 232, 0.2) 0 1px 0 inset;
  transition: none 0s;
}

.button-4:focus {
  outline: 1px transparent;
}

.button-4:before {
  display: none;
}

.button-4:-webkit-details-marker {
  display: none;
}

.left-side-content{
    width: 300px;
    height: auto;
    border-right: 1px dashed #24292E;
    float: left;
    padding: 0 25px;
    padding-top: 20px;
}

.left-side-content h3{
    font-family: 'Lora', serif;
    color: #3B3C36;
    font-size: 20px;
}

.left-side-content p{
    font-family: 'Open Sans', sans-serif;
    color: #3B3C36;
    text-align: justify;
}

.left-side-content ul li{
    font-family: 'Open Sans', sans-serif;
    color: #3B3C36;
}


.form-style-8 {
    font-family: 'Open Sans Condensed', arial, sans;
    width: 700px;
    padding: 30px;
    background: #FFFFFF;
    margin: 50px auto;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.22);
    -moz-box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.22);
    -webkit-box-shadow:  0px 0px 15px rgba(0, 0, 0, 0.22);
    margin-left: 450px;
  }
  .form-style-8 h2 {
    background: #4D4D4D;
    text-transform: uppercase;
    /* font-family: 'Open Sans Condensed', sans-serif; */
    font-family: 'Lora', serif;
    color: white;
    font-size: 18px;
    font-weight: 100;
    padding: 20px;
    margin: -30px -30px 30px -30px;
  }
  .form-style-8 input[type="text"],
  .form-style-8 input[type="date"],
  .form-style-8 input[type="time"],
  .form-style-8 input[type="tel"],
  .form-style-8 input[type="number"],
  .form-style-8 textarea,
  .form-style-8 select {
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    outline: none;
    display: block;
    width: 100%;
    padding: 7px;
    border: none;
    border-bottom: 1px solid #ddd;
    background: transparent;
    margin-bottom: 10px;
    /* font: 16px Arial, Helvetica, sans-serif; */
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    height: 45px;
  }
  .form-style-8 textarea {
    resize: vertical;
    overflow: hidden;
    height: 90px;
  }

  /* .form-style-8 input[type="submit"] {
    -moz-box-shadow: inset 0px 1px 0px 0px #45D6D6;
    -webkit-box-shadow: inset 0px 1px 0px 0px #45D6D6;
    box-shadow: inset 0px 1px 0px 0px #45D6D6;
    background-color: #2CBBBB;
    border: 1px solid #27A0A0;
    display: inline-block;
    cursor: pointer;
    color: #FFFFFF;
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 14px;
    padding: 8px 18px;
    text-decoration: none;
    text-transform: uppercase;
  }
  .form-style-8 input[type="submit"]:hover {
    background: linear-gradient(to bottom, #34CACA 5%, #30C9C9 100%);
    background-color: #34CACA;
  } */

/* CSS */
.button-5 {
  appearance: none;
  /* background-color: #FAFBFC; */
  background-color: #4D4D4D;
  border: 1px solid rgba(27, 31, 35, 0.15);
  border-radius: 6px;
  box-shadow: rgba(27, 31, 35, 0.04) 0 1px 0, rgba(255, 255, 255, 0.25) 0 1px 0 inset;
  box-sizing: border-box;
  color: whitesmoke;
  cursor: pointer;
  display: inline-block;
  font-family: -apple-system, system-ui, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  list-style: none;
  padding: 6px 16px;
  position: relative;
  transition: background-color 0.2s cubic-bezier(0.3, 0, 0.5, 1);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: middle;
  white-space: nowrap;
  word-wrap: break-word;
  width: 100px;
  margin-top: 10px;
}

.button-5:hover {
  background-color: #24292E;
  text-decoration: none;
  transition-duration: 0.1s;
}

.button-5:disabled {
  background-color: #24292E;
  border-color: rgba(27, 31, 35, 0.15);
  color: #959DA5;
  cursor: default;
}

.button-5:active {
  background-color: #24292E;
  box-shadow: rgba(225, 228, 232, 0.2) 0 1px 0 inset;
  transition: none 0s;
}

.button-5:focus {
  outline: 1px transparent;
}

.button-5:before {
  display: none;
}

.button-5:-webkit-details-marker {
  display: none;
}


.footer{
    width: 100%;
    height: 70px;
    background-color: #24292E;
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* position: fixed;
    bottom: 0; */
  }

  .footer h1{
    text-align: center;
    font-family: 'Lora', serif;
    color: whitesmoke;
    padding-left: 40px;
  }

  .footer p{
    font-family: 'Lora', serif;
    font-size: 15px;
    color: whitesmoke;
    margin-right: 40px;
  }