<div class="header">
    <div class="background">
      <div class="headertitle">
        <h1><u>Baby Vaccination</u></h1>
        <p>Protecting Little Lives, One Vaccination at a Time</p>
      </div>
    </div>

    <div class="navbar">
      <div class="links">
        <a routerLink="/home">HOME</a>
        <a routerLink="/record">RECORDS</a>
        <a routerLink="/info">VACCINATION</a>
      </div>
        <button class="button-4" routerLink="/dataentry">Data Entry</button>
    </div>
  </div>

  <div class="content">
    <div class="caution">
      <h1><u>Precautions</u></h1>
      <p>Ensuring the safety and well-being of your little one is our top priority. Before proceeding with any vaccinations, it's important to keep a few precautions in mind. Always consult with a pediatrician or healthcare professional who can guide you through the vaccination process and address any concerns you may have. Ensure that your child is in good health before receiving a vaccine, as certain illnesses or conditions may require adjustments to the vaccination schedule.</p>
    </div>
  </div>

  <div class="chart">
    <h1><u>Vaccination Chart</u></h1>

    <table>
      <tr>
        <th>Age</th>
        <th>Vaccine</th>
        <th>Content Tag</th>
      </tr>
      <tr>
        <td>Birth</td>
        <td>Bacillus Calmette</td>
        <td>BCG</td>
      </tr>
      <tr>
        <td>6 weeks</td>
        <td>Diptheria, Tetanus and Pertussis (DTP 1)</td>
        <td>DTP</td>
      </tr>
      <tr>
        <td>10 weeks</td>
        <td>Diptheria, Tetanus and Pertussis (DTP 2)</td>
        <td>DTP</td>
      </tr>
      <tr>
        <td>14 weeks</td>
        <td>Diptheria, Tetanus and Pertussis (DTP 3)</td>
        <td>DTP</td>
      </tr>
      <tr>
        <td>6 months</td>
        <td>InfluenzaOPV</td>
        <td>TCV</td>
      </tr>
      <tr>
        <td>9-12 months</td>
        <td>Measles, Mumps, and Rubella Vaccine (MMR 1)</td>
        <td>MMR</td>
      </tr>
      <tr>
        <td>12 months</td>
        <td>Hepatitis A</td>
        <td>Hep-A</td>
      </tr>
      <tr>
        <td>13-15 months</td>
        <td>Measles, Mumps, and Rubella Vaccine (MMR 2)</td>
        <td>MMR</td>
      </tr>
      <tr>
        <td>16-18 months</td>
        <td>Measles, Mumps, and Rubella Vaccine (MMR 2)</td>
        <td>DTP</td>
      </tr>
      <tr>
        <td>4-6 years</td>
        <td>Tdap</td>
        <td>Tdap</td>
      </tr>
    </table>
  </div>

  <div class="footer">
    <h1>Baby Vaccination</h1>
    <p>&#169; All rights reserved</p>
  </div>